html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#map {
  height: 100%;
  bottom: 0;
  left: 362px;
  position: absolute;
  right: 0
}

.options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}

.list-results {
  line-height: 35px;
  width: 340px;
  text-align: left;
}

#park-locations {
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0.5em;
}

.search-item {
  background-color: yellow;
  border: 1px solid black;
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.3em;
}
